<form class="main-form" action="{{form_action}}" method="POST">
    {% csrf_token %}
        <div class="form-content form-content-grid">
            {% for field in form %}
                <div class="form-group  {{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{field}}
                    {% if field.help_text %}
                        <p class="help_text">
                            {{ field.help_text }}
                        </p>
                    {% endif %}
                    {{ field.errors }}
                </div>

                {% if field.name == 'cover' and field.value.url %}
                    <div class="span-2">
                        <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if form.errors %}
        <div class="form-content form-content-group">
            <div class="form-group center">
                <div class="message message-error">
                    Verifique os campos acima:
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-content form-content-group">
            <div class="form-group center">
                <button type="submit">
                    Enviar
                </button>
            </div>
        </div>
</form>