{% if  request.user.is_authenticated %}
<div class="login-message">
    <form class="inline-form" action="{% url "authors:logout" %}" method="POST">
        {% csrf_token %}
        
        <a class="plaintext-button" href="{% url 'authors:dashboard' %}">Clique aqui ver suas receitas</a>
        <br><br>
        <input type="hidden" name="username" value="{{ request.user.username }}">
        <button class="plaintext-button" type="submit">Clique aqui para sair do sistema</button>
    </form> 
</div>
{% endif %}